<mat-toolbar color="primary">
  <div class="container">
    <div class="headline">
      Create new Book
    </div>
  </div>
</mat-toolbar>

<div class="container">
  <form #f="ngForm" (ngSubmit)="onCreate()" [formGroup]="bookForm" action="#" class="form">
    <mat-form-field class="example-full-width">
      <input autocomplete="off" formControlName="title" matInput name="title" placeholder="Title">
      <mat-error *ngIf="submitted && bookForm.controls.title.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input [matAutocomplete]="auto"
             autocomplete="off"
             formControlName="author"
             matInput
             name="Author"
             placeholder="Author"
             type="text">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of authors" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="submitted && bookForm.controls.author.hasError('required')">
        Author is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input autocomplete="off" formControlName="pagesQuantity" matInput name="pagesQuantity" placeholder="Pages Quantity" type="number">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea autocomplete="off" formControlName="description" matInput name="description" placeholder="Description"></textarea>
      <mat-error *ngIf="submitted && bookForm.controls.description.hasError('required')">
        Description is required
      </mat-error>
    </mat-form-field>

    <button [disabled]="bookForm.status === 'INVALID'" color="primary" mat-raised-button style="width:160px" type="submit">Create</button>
  </form>
</div>
